<!DOCTYPE html>
<html>

<head>
    <title>Quiz</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/quiz.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}" ></script></head>

<body>
    <div class="body-content"></div>
    <h1>Q U I Z</h1>
    <div class="theChoices">
        <div class="choices">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="daredevil" value="Aries" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">daredevil</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="quick-tempered" value="Aries" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">quick-tempered</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="compassionate" value="Pisces" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">compassionate</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="unpredictable" value="Aquarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">unpredictable</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="sociable" value="Libra" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">sociable</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="overemotional" value="Cancer" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">overemotional</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="determined" value="Taurus" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">determined</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="easygoing" value="Libra" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">easygoing</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="disciplined" value="Capricorn" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">disciplined</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="straightforward" value="Sagittarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">straightforward</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="charming" value="Libra" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">charming</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="harsh" value="Virgo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">harsh</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="resentful" value="Taurus" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">resentful</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="reliable" value="Virgo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">reliable</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="generous" value="Leo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">generous</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="indecisive" value="Libra" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">indecisive</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="prudent" value="Capricorn" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">prudent</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="weak-willed" value="Pisces" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">weak-willed</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="obsessive" value="Scorpio" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">obsessive</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="perfectionist" value="Virgo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">perfectionist</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="jealous" value="Scorpio" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">jealous</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="tactless" value="Sagittarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">tactless</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="adaptable" value="Gemini" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">adaptable</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="cautious" value="Cancer" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">cautious</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="bossy" value="Leo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">bossy</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="courageous" value="Aries" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">courageous</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="philosophical" value="Sagittarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">philosophical</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="determined" value="Scorpio" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">determined</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="humorous" value="Capricorn" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">humorous</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="careless" value="Sagittarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">careless</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="vague" value="Pisces" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">vague</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="independent" value="Aquarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">independent</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="adventurous" value="Aries" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">adventurous</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="imaginative" value="Cancer" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">imaginative</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="intolerant" value="Leo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">intolerant</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="creative" value="Leo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">creative</div>
                </label>
            </div>
        </div>
        <div class="choices">
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="secretive" value="Scorpio" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">secretive</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="jealous" value="Taurus" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">jealous</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="patient" value="Taurus" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">patient</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="clingy" value="Cancer" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">clingy</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="modest" value="Virgo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">modest</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="overcritical" value="Virgo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">overcritical</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="self-indulgent" value="Taurus" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">self-indulgent</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="dogmatic" value="Leo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">dogmatic</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="optimistic" value="Sagittarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">optimistic</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="unemotional" value="Aquarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">unemotional</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="honest" value="Aquarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">honest</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="pessimistic" value="Capricorn" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">pessimistic</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="sensitive" value="Pisces" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">sensitive</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="confident" value="Aries" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">confident</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="diligent" value="Virgo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">diligent</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="secretive" value="Pisces" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">secretive</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="eloquent" value="Gemini" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">eloquent</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="intuitive" value="Scorpio" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">intuitive</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="gullible" value="Libra" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">gullible</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="inconsistent" value="Gemini" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">inconsistent</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="witty" value="Gemini" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">witty</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="passionate" value="Scorpio" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">passionate</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="inquisitive" value="Gemini" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">inquisitive</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="impulsive" value="Aries" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">impulsive</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="detached" value="Aquarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">detached</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="superficial" value="Gemini" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">superficial</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="awkward" value="Capricorn" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">awkward</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="grudging" value="Capricorn" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">grudging</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="irresponsible" value="Sagittarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">irresponsible</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="inventive" value="Aquarius" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">inventive</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="reliable" value="Taurus" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">reliable</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="flirtatious" value="Libra" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">flirtatious</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="warmhearted" value="Leo" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">warmhearted</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="sympathetic" value="Cancer" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">sympathetic</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="moody" value="Cancer" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">moody</div>
                </label>
            </div>
            <div class="checkbox-container">
                <label class="checkbox-label">
                    <input type="checkbox" name="selfless" value="Pisces" id="1">
                    <span class="checkbox-custom rectangular"></span>
                    <div style="margin: 40px; color: white">selfless</div>
                </label>
            </div>
        </div>
    </div>

    <div style="text-align:center;">
        <button class="button" id="submit" onclick="submit_form()">submit</button>
    </div>

    <script src="../static/main.js"></script>
    </div>
</body>

</html>