<!DOCTYPE html>
<html>

<head>
    <title>Quiz</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/quiz.css">
</head>

<body>
    <div class="body-content"></div>
    <h1>Q U I Z</h1>
    <div class="choices">
        <div class="choice">
            <input type="checkbox" name="Friendly" value="Aquarius" id = "1">
            <label style = "color:white;" for="Friendly">Friendly</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Patient" value="Taurus" id = "2">
            <label style = "color:white;" for="Patient">Patient</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Indecisive" value="Libra" id = "3">
            <label style = "color:white;" for="Indecisive">Indecisive</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Pessimistic" value="Capricorn" id = "4">
            <label style = "color:white;" for="Pessimistic">Pessimistic</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Modest" value="Virgo" id = "5">
            <label style = "color:white;" for="Modest">Modest</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Secretive" value="Scorpio" id = "6">
            <label style = "color:white;" for="Secretive">Secretive</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Optimistic" value="Saggitarius" id = "7">
            <label style = "color:white;" for="Optimistic">Optimistic</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Adaptable" value="Gemini" id = "8">
            <label style = "color:white;" for="Adaptable">Adaptable</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Moody" value="Cancer" id = "9">
            <label style = "color:white;" for="Moody">Moody</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Weak-willed" value="Pisces" id = "10">
            <label style = "color:white;" for="Weak-willed">Weak-willed</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Adventurous" value="Aries" id = "11">
            <label style = "color:white;" for="Adventurous">Adventurous</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Bossy" value="Leo" id = "12">
            <label style = "color:white;" for="Bossy">Bossy</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Imaginative" value="Cancer" id = "13">
            <label style = "color:white;" for="Imaginative">Imaginative</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Detached" value="Aquarius" id = "14">
            <label style = "color:white;" for="Detached">Detached</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Diplomatic" value="Libra" id = "15">
            <label style = "color:white;" for="Diplomatic">Diplomatic</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Jealous" value="Taurus" id = "16">
            <label style = "color:white;" for="Jealous">Jealous</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Overcritical" value="Virgo" id = "17">
            <label style = "color:white;" for="Overcritical">Overcritical</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Determined" value="Scorpio" id = "18">
            <label style = "color:white;" for="Determined">Determined</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Selfless" value="Pisces" id = "19">
            <label style = "color:white;" for="Selfless">Selfless</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Irresponsible" value="Saggitarius" id = "20">
            <label style = "color:white;" for="Irresponsible">Irresponsible</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Generous" value="Leo" id = "21">
            <label style = "color:white;" for="Generous">Generous</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Superficial" value="Gemini" id = "22">
            <label style = "color:white;" for="Superficial">Superficial</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Practical" value="Capricorn" id = "23">
            <label style = "color:white;" for="Practical">Practical</label><br>
        </div>
        <div class="choice">
            <input type="checkbox" name="Selfish" value="Aries" id = "24">
            <label style = "color:white;" for="Selfish">Selfish</label><br>
        </div>
    </div>
    
    <div style="text-align:center;">
        <form action = "results.html">
            <button class="button submit" id = "submit">submit</button>
        </form>
    </div>

    <script src="../static/quiz.js"></script>
    </div>
</body>

</html>