<!DOCTYPE html>
<html>

<head>
    <title>Quiz</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='quiz.css') }}">
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='quiz.js') }}" ></script>
</head>

<body>
    <h1>Q U I Z</h1>

    <form>
        <!-- <p>{{x}}</p> -->
        <p id="head">page {{ page_num }}</p>
        <p id="question">{{ question }}</p>
        <div class="choices">
            <div class="choice">
                <input type="radio" id="contactChoice1"
                name="option" value="1">
                <label style = "color:white;" for="contactChoice1">{{ answers[0] }}</label>
            </div>
            <div class="choice">
                <input type="radio" id="contactChoice2"
                name="option" value="2">
                <label style = "color:white;" for="contactChoice2">{{ answers[1] }}</label>
            </div>
        </div>
        <div>
          <button id="next_button" type="submit">Next</button>
        </div>
      </form>

      <!---select tag for dropdown 
      html 
      post
      question_dict[page_num]
      answer_dict[page_num]
      -->
      <script src = "../static/quiz.js"></script>
</body>

</html>