<!DOCTYPE html>

<html>
    <head>
        <title>Zodiac</title>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
        <link rel="stylesheet" type = "text/css" href="../static/quiz.css">
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        
    </head>

    <body>
        <div class="body-content">
        <h1 id = "mytitle" class="title">Zodiac</h1>
        <!--<div class="image" id="dog-image"></div>-->
        <div class="button-container">
            <div style="text-align:center;">
                <button class="button startquiz" id="start-button" onclick="window.location.href='/start'">begin</button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='main.js') }}" ></script></script>
    </div>
    </body>
</html>